section {
    padding: 20px;
    margin-bottom: 20px;
}

.about, .rest {
    display: flex;
    flex-direction: column;
    text-align: center;
}

.intro {
    text-align: center;
}

.intro h1 {
    background-color: rgb(221, 109, 69);
    padding: 40px;
    border-radius: 10px;
    font-size: xxx-large;
}

.intro h3 {
    padding-left: 20%;
    padding-right: 20%;
}

img {
    border-radius: 10px;
} 

.desc {
    display: flex;
    justify-content: space-between; 
    padding: 50px;
    flex-direction: column;
}

.cards {
    display: flex;
    gap: 10px;
    padding: 50px;
    font-size: larger;
}

.desc .card {
    width: 30%;
    border-radius: 10px;
    padding: 50px;
    display: flex;
    flex-direction: column;
}

.about .card {
    background-color: #6cb05e;
}

.rest .card {
    background-color: #b0785e;
}

.desc .card p {
    font-size: x-larger;
    padding-bottom: 20px;
}

.find {
    font-size: xx-large;
}

.uolist {
    display: flex;
    gap: 10px;
    margin: 50px;
}

.uolist li {
    padding: 10px;
}

.uolist .content {
    width: 100%;
    height: 80%;
    padding: 80px;
    background-color: #5d9e71;
    border-radius: 10px;
    font-size: larger;
}